In [1]:
import pandas as pd

In [2]:
credit_train = pd.read_csv('credit_train.csv')
credit_test = pd.read_csv('credit_test.csv')

In [3]:
credit_train_new = credit_train.copy()

 ## Remoção das variáveis de identificação (below).

In [4]:
credit_train_new = credit_train_new.drop(columns = {'Loan ID', 'Customer ID'})

  ## Remoção dos registros nulos [NaN] (below)

In [5]:
credit_train_new = credit_train_new.dropna(axis = 0)

In [6]:
credit_train_new["Loan Status"].value_counts()

Loan Status
Fully Paid     28972
Charged Off     7451
Name: count, dtype: int64

 ## Convertendo variáveis categóricas em variáveis Dummy (below)

In [7]:
df_term = pd.get_dummies(credit_train_new["Term"])

In [8]:
df_job = pd.get_dummies(credit_train_new["Years in current job"])

In [9]:
df_home = pd.get_dummies(credit_train_new["Home Ownership"])

In [10]:
df_purpose = pd.get_dummies(credit_train_new["Purpose"])

In [11]:
credit_train_new = pd.concat([credit_train_new,df_term,df_job,df_home,df_purpose], axis = 1)

In [12]:
credit_train_new.drop(columns = ['Term', 'Years in current job', 'Home Ownership', 'Purpose'], inplace=True)

# Separaçao da Classe (below)

In [13]:
df_class = pd.get_dummies(credit_train_new['Loan Status'])

In [14]:
df_class.drop(columns = ['Charged Off'], inplace=True)

In [15]:
df_class = df_class.rename(columns={'Fully Paid':'Status'})

In [16]:
credit_train_new = pd.concat([credit_train_new,df_class], axis = 1)

In [24]:
credit_train_new = credit_train_new.drop(columns=['Loan Status'])

In [25]:
credit_train_new

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,...,Other,Take a Trip,major_purchase,moving,other,renewable_energy,small_business,vacation,wedding,Status
2,99999999.0,741.0,2231892.0,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,...,False,False,False,False,False,False,False,False,False,True
6,217646.0,730.0,1184194.0,10855.08,19.6,10.0,13.0,1.0,122170.0,272052.0,...,False,False,False,False,False,False,False,False,False,True
8,548746.0,678.0,2559110.0,18660.28,22.6,33.0,4.0,0.0,437171.0,555038.0,...,False,False,False,False,False,False,False,False,False,True
10,99999999.0,728.0,714628.0,11851.06,16.0,76.0,16.0,0.0,203965.0,289784.0,...,False,False,False,False,False,False,False,False,False,True
12,99999999.0,740.0,776188.0,11578.22,8.5,25.0,6.0,0.0,134083.0,220220.0,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99990,99999999.0,742.0,1190046.0,11969.81,20.1,16.0,9.0,0.0,37392.0,134442.0,...,False,False,False,False,True,False,False,False,False,True
99993,44484.0,717.0,1152426.0,6280.64,21.0,12.0,6.0,0.0,961932.0,0.0,...,False,False,False,False,False,False,True,False,False,True
99994,210584.0,719.0,783389.0,3727.61,17.4,18.0,6.0,0.0,456.0,259160.0,...,True,False,False,False,False,False,False,False,False,True
99996,99999999.0,732.0,1289416.0,13109.05,9.4,21.0,22.0,0.0,153045.0,509234.0,...,False,False,False,False,False,False,False,False,False,True
99997,103136.0,742.0,1150545.0,7315.57,18.8,18.0,12.0,1.0,109554.0,537548.0,...,False,False,False,False,False,False,False,False,False,True