In [1]:
import pandas as pd

In [2]:
credit_train = pd.read_csv('credit_train.csv')
credit_test = pd.read_csv('credit_test.csv')

In [3]:
credit_train_new = credit_train.copy()

In [4]:
 ## Remoção das variáveis de identificação (below).

In [5]:
credit_train_new = credit_train_new.drop(columns = {'Loan ID', 'Customer ID'})

In [6]:
  ## Remoção dos registros nulos [NaN] (below)

In [7]:
credit_train_new = credit_train_new.dropna(axis = 0)

In [8]:
credit_train_new["Loan Status"].value_counts()

Loan Status
Fully Paid     28972
Charged Off     7451
Name: count, dtype: int64

In [9]:
  ## Convertendo variáveis categóricas em variáveis Dummy (below)

In [10]:
df_term = pd.get_dummies(credit_train_new["Term"])

In [11]:
df_job = pd.get_dummies(credit_train_new["Years in current job"])

In [12]:
df_home = pd.get_dummies(credit_train_new["Home Ownership"])

In [13]:
df_purpose = pd.get_dummies(credit_train_new["Purpose"])

In [14]:
credit_train_new = pd.concat([credit_train_new,df_term,df_job,df_home,df_purpose], axis = 1)

In [17]:
credit_train_new.drop(columns = ['Term', 'Years in current job', 'Home Ownership', 'Purpose'], inplace=True)

KeyError: "['Term', 'Years in current job', 'Home Ownership', 'Purpose'] not found in axis"

In [16]:
credit_train_new

,Loan Status,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,...,Medical Bills,Other,Take a Trip,major_purchase,moving,other,renewable_energy,small_business,vacation,wedding
2,Fully Paid,99999999.0,741.0,2231892.0,29200.53,14.9,29.0,18.0,1.0,297996.0,...,False,False,False,False,False,False,False,False,False,False
6,Fully Paid,217646.0,730.0,1184194.0,10855.08,19.6,10.0,13.0,1.0,122170.0,...,False,False,False,False,False,False,False,False,False,False
8,Fully Paid,548746.0,678.0,2559110.0,18660.28,22.6,33.0,4.0,0.0,437171.0,...,False,False,False,False,False,False,False,False,False,False
10,Fully Paid,99999999.0,728.0,714628.0,11851.06,16.0,76.0,16.0,0.0,203965.0,...,False,False,False,False,False,False,False,False,False,False
12,Fully Paid,99999999.0,740.0,776188.0,11578.22,8.5,25.0,6.0,0.0,134083.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99990,Fully Paid,99999999.0,742.0,1190046.0,11969.81,20.1,16.0,9.0,0.0,37392.0,...,False,False,False,False,False,True,False,False,False,False
99993,Fully Paid,44484.0,717.0,1152426.0,6280.64,21.0,12.0,6.0,0.0,961932.0,...,False,False,False,False,False,False,False,True,False,False
99994,Fully Paid,210584.0,719.0,783389.0,3727.61,17.4,18.0,6.0,0.0,456.0,...,False,True,False,False,False,False,False,False,False,False
99996,Fully Paid,99999999.0,732.0,1289416.0,13109.05,9.4,21.0,22.0,0.0,153045.0,...,False,False,False,False,False,False,False,False,False,False
99997,Fully Paid,103136.0,742.0,1150545.0,7315.57,18.8,18.0,12.0,1.0,109554.0,...,False,False,False,False,False,False,False,False,False,False